{% extends 'layout.html' %}

{% block content %}

<body>
  <section class="hero">
    <h1>contact page</h1>
    <p>Pleae refer to the two boxes below to to see who you can contact</p>
  </section>


 

  <section class="about" id="about">
    <h2>About Us</h2>
    <p>
      We are quite a big company that creates famous products in the tech world known as Raspberry Pis. 
      We believe everyone should have the opportunity and access to learn coding in this future era we are entering.
    </p>
  </section>

  <section class="info-section">
    <div class="green-box">
      <h2>Raspberry Pi Foundation Objective</h2>
      <p>
        Text box containing a little info about Raspberry Pi Foundation objective.
      </p>
    </div>

    <div class="yellow-box">
      <h2>Additional Info</h2>
      <p>Some more info here...</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2025 MyWebsite. All rights reserved.</p>
  </footer>
</body>

{% endblock %}