<!-- Template for header and nav bar for the whole website -->

<!DOCTYPE html>

<html>

<head>

<title>Flask Login Website</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>
  <div class="header-inner">
    <a class="site-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="Code Dojo logo">
    </a>
    <nav>
      <ul class="nav-links">
       
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        <li><a href="{{ url_for('contact') }}">contact</a> </li>
        <li><a href="{{ url_for('info') }}">info</a> </li>
        
         
        
        {% if session.get('username') %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('book') }}">Book Session</a></li>
        <li><a href="{{ url_for('organiser') }}">Organiser</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>


<div class="flash-center">

{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}

<div class="alert">{{ message }}</div>

{% endfor %}

{% endif %}

{% endwith %}

</div>


<h1 style="text-align:center;"></h1>

{% block content %}{% endblock %}

</body>

</html>